			<!-- Footer -->
				<footer id="footer">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- Contact -->
									<section>
										<h2 class="major"><span>Get in touch with us</span></h2>
										<ul class="contact">
											<li><a class="icon brands fa-regular fa-linkedin-in" href="https://www.linkedin.com/in/monasoni/"><span class="label">LinkedIn</span></a></li>
											<li><a class="icon fa-regular fa-envelope" href="mailto:mona.soni@sostibl.com"><span class="label">Email</span></a></li>
										</ul>
									</section>

							</div>
						</div>

                        

						<!-- Copyright -->
							<div id="copyright">
								<ul class="menu">
									<li>&copy; All rights reserved</li>
								</ul>
							</div>

					</div>
				</footer>