@inherits LayoutComponentBase

<head>
    <title>The World Climate</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="css/main.css" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
</head>
<div class="page">
    <image class="top-logo" src="images/logo-transparent.png" width="55px" height="55px"></image>
    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li class="@IsCurrentLocation("Home")"><a href="/">Home</a></li>
                <li class="@IsCurrentLocation("About")"><a href="about">About</a></li>
                <li class="@IsCurrentLocation("Location")">
                    <a href="/locations">Locations</a>
                    <ul>
                        <li><a href="location/Oxford">Oxford</a></li>
                        <li><a href="location/Mumbai">Mumbai</a></li>
                        <li><a href="location/NewYork">New York</a></li>
                        <li><a href="location/Sanfrancisco">San Francisco</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    <main>
        <MudThemeProvider/> 
        <article class="content">
            @Body
        </article>
        <Footer></Footer>
    </main>

    		<!-- Scripts -->
			<script src="https://kit.fontawesome.com/4c9efe62f8.js" crossorigin="anonymous"></script>
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/browser.min.js"></script>
			<script src="js/breakpoints.min.js"></script>
			<script src="js/util.js"></script>
			<script src="js/main.js"></script>
            <script src="js/tableauinterop.js"></script>

            <!-- MudBlazor -->
            <script src="_content/MudBlazor/MudBlazor.min.js"></script>
            <!-- Tableau -->
            <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
            
            <!-- Google tag (gtag.js) -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-M6BT84E97S"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());

                gtag('config', 'G-M6BT84E97S');
            </script>
</div>

@code {

    [Inject]
    public NavigationManager Navigation { get; set; }
    private string currentLocation = "Home";

    private List<string> pages = new List<string> { "About", "Location" };

    protected override void OnInitialized()
    {
        var currentUrl = Navigation.Uri;
        if(pages.Any<string>(page => currentUrl.ToLowerInvariant().Contains(page.ToLowerInvariant()))){
            currentLocation = pages.FirstOrDefault(page => currentUrl.ToLowerInvariant().Contains(page.ToLowerInvariant())) ?? "Home";
        }
        else{
                currentLocation = "Home";
            }
    }
    private string IsCurrentLocation(string location)
    {
        if(currentLocation == location){
            return "current";
        }
        return ""; 
    }

}
