@page "/About"

<PageTitle>About</PageTitle>

<section id="main">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- Highlight -->
									<section class="box highlight">
										<header>
											<h2>Our mission</h2>
											<p>To illuminate the climate risks facing each individual's immediate surroundings.</p>
										</header>
										<p>
											We deliver factual, objective information in easily digestible formats, facilitating comprehension and awareness.
										</p>
									</section>

							</div>
							<div class="col-12">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Our Team</span></h2>
                                            <p>We are a dedicated team of experts who are passionate about climate science and technology. Our team members have diverse backgrounds and bring a wealth of knowledge and experience to our platform. Together, we are committed to providing accurate and reliable information to help individuals make informed decisions.</p>
										<div>
											<div class="row">
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="/assets/images/people/mona.jpeg" alt="" /></a>
															<h3><a href="#">Mona Soni</a></h3>
															<p>
																Something about Mona here.
															</p>
														</section>

												</div>
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="/assets/images/people/andy.jpeg" alt="" /></a>
															<h3><a href="#">Andy Nichols</a></h3>
															<p>
																Something about Andy here.
															</p>
														</section>

												</div>
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="/assets/images/people/david.jpeg" alt="" /></a>
															<h3><a href="#">David Prebbles</a></h3>
															<p>
																Something about David here.
															</p>
														</section>

												</div>
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<a href="#" class="image featured"><img src="/assets/images/people/chris.jpeg" alt="" /></a>
															<h3><a href="#">Chris Nelson</a></h3>
															<p>
																Something about Chris here.
															</p>
														</section>

												</div>
											</div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</section>