@page "/About"

<PageTitle>About</PageTitle>

<h1>About Us</h1>

<div style=color:#05638b;font-weight:700;>
    <p>
        <span>Our mission is to illuminate the climate risks facing each individual's immediate surroundings.</span>
        <p><span>We deliver factual, objective information in easily digestible formats, facilitating comprehension and awareness.</span></p>
    </p>
</div>

