@page "/"
@using ClimatePlatform.Components

<html>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<div class="logo container">
						<div>
							<h1><a href="/" id="logo">The World Climate</a></h1>
						</div>
					</div>
					<div><image src="assets/images/logo-transparent.png" width="200px" height="200px"></image></div>
					<WorldMap></WorldMap>

				</header>

			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<h2>Welcome to The World Climate.com</h2>
						<p>A site where we're looking to improve our worlds outlook by providing resources and tooling for everyone to examine the future of climate in their own backyard</p>
						<a href="#main" class="button scrolly">Alright let's go</a>
					</div>
				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- Highlight -->
									<section class="box highlight">
										<ul class="special">
											<li><a href="#" class="icon fa-thin fa-hand-holding-seedling"><span class="label">Seedling</span></a></li>
											<li><a href="#" class="icon fa-thin fa-sun-haze"><span class="label">Sun</span></a></li>
											<li><a href="#" class="icon fa-thin fa-cloud-hail-mixed"><span class="label">Rain</span></a></li>
											<li><a href="#" class="icon fa-thin fa-house-tsunami"><span class="label">Hurricane</span></a></li>
										</ul>
										<header>
											<h2>Physical Risk & Climate</h2>
											<p>Analyze climate outlook & physical Risk based on location</p>
										</header>
										<p>
											Before you invest in new infrastructure or expand your business to a new location<br />
											run a climate risk assessment to understand the potential risks and opportunities.
										</p>
									</section>

							</div>
							<div class="col-12">

								<!-- Features -->
									<section class="box features">
										<h2 class="major"><span>Generate Reports</span></h2>
										<div>
											<div class="row">
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<h3><a href="#">Physical Risk</a></h3>
															<p>
																Before you invest in new infrastructure or expand your business to a new location, run a climate risk assessment to understand the potential risks and opportunities.
															</p>
														</section>

												</div>
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<h3><a href="#">Sales Targeting</a></h3>
															<p>
																With rising temperatures and an increasing number of flood events on the horizon, it's important to understand potential future geographical growth areas for your sales.
															</p>
														</section>

												</div>
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<h3><a href="#">Real Estate</a></h3>
															<p>
																Thinking about moving to a new city? Understand the potential risks and opportunities of your new location.
															</p>
														</section>

												</div>
												<div class="col-3 col-6-medium col-12-small">

													<!-- Feature -->
														<section class="box feature">
															<h3><a href="#">Some other thing here</a></h3>
															<p>
																Add something here to make this feature even more compelling.
															</p>
														</section>

												</div>
												<div class="col-12">
													<ul class="actions">
														<li><a href="#" class="button large">Do Something</a></li>
														<li><a href="#" class="button alt large">Think About It</a></li>
													</ul>
												</div>
											</div>
										</div>
									</section>

							</div>
						</div>
					</div>
				</section>

		</div>
	</body>
</html>