@page "/locations"
@rendermode InteractiveServer

<section id="main">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-12">

								<!-- Highlight -->
									<section class="box highlight">
										<header>
											<h2>Location coverage</h2>
											<p>Select a city to see detailed climate information & analytics</p>
											<ul class="divided">
												<li><h3><a href="/location/Oxford">Oxford</a></h3></li>
												<li><h3><a href="/location/Mumbai">Mumbai</a></h3></li>
												<li><h3><a href="/location/Newyork">New York</a></h3></li>
												<li><h3><a href="/location/Sanfrancisco">San Francisco</a></h3></li>
											</ul>
										</header>
									</section>

							</div>
							<div class="col-12">
							</div>
						</div>
					</div>
				</section>